{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2015",
    "stage-2"
  ],
  "ignore":[
    "jquery.min.js",
    "bootstrap.js",
    "bootstrap.min.js",
    "xhook.min.js",
    "window-global.js",
    "xlsx.full.min.js",
    "canvas-datagrid.js"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
