@import 'statics/iconfont/iconfont.css';
html,
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
body,
html {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "PingFang SC-Regular", STHeiti, Microsoft YaHei, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ffffff !important;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
}
#root {
  width: 100%;
}
hr {
  width: 99%;
  margin: .1rem auto;
  color: #b7c6ca;
}
.font-title {
  font-size: .5rem;
  font-weight: 500;
}
img {
  max-width: 100%;
}
article .container {
  margin: 20px 20px;
}
article .head > div {
  margin: 10px auto 10px 0;
  color: #142c31;
}
article .head > div span {
  font-size: .4rem;
  margin-right: .4rem;
}
article .head .title {
  text-align: left;
  line-height: 150%;
}
article .head .time {
  color: #b7c6ca;
  font-size: .3rem;
}
article .head .info {
  font-size: .28rem;
  font-weight: 400;
  margin: 0 0 .12rem;
  color: #888;
}
article .head .source {
  padding-left: .2rem;
}
article .content {
  font-size: .36rem;
  line-height: 1.5em;
  word-break: break-all;
  color: #404040;
  height: auto;
}
article .content > p,
article .content > div {
  margin: 1em auto;
}
article .tags {
  margin: 1em auto 0 auto;
  display: inline-block;
}
article .tags span {
  color: #6f6f6f;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  margin-right: 10px;
  background: #f2f2f2;
  font-size: 12px;
}
.content > div > * {
  margin-bottom: 1em !important;
}
.job {
  padding: 0 0.5rem;
}
.job .container {
  margin-bottom: 4rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.short-msg {
  flex-wrap: wrap;
}
.short-msg > div {
  margin-right: 0.2rem;
  margin-bottom: 0.1rem;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-1 {
  flex-grow: 1;
}
.job-title {
  justify-content: space-around;
  width: 100%;
  font-size: 2em;
  margin: 0.67em 0;
}
.job-title b {
  display: inline-block;
  width: 50%;
  font-weight: 500;
  color: #464646;
}
.job-title b:nth-child(2) {
  text-align: right;
  font-size: smaller;
}
.job-title b:nth-child(2) small {
  margin-left: 0.1rem;
}
.job {
  color: #717171;
}
.job table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.job table tr td {
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.4rem;
}
.job table tr > td:nth-child(1) {
  width: 20%;
  vertical-align: top;
  color: #464646;
}
.job table tr > td:nth-child(2) {
  text-indent: 0.2rem;
}
.item-div {
  display: inline-block;
  text-indent: 0.3rem;
}
h2.addr {
  font-size: 0.45rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  text-align: center;
  border-top: 0.001rem solid #f5f3f3;
}
.tel {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.tel li {
  display: block;
  background-color: #f5f5f5;
  font-size: 0.42rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.tel li span {
  float: left;
  margin-left: .5rem;
  font-weight: 100;
  font-size: 0.47rem;
}
.tel li:not(:first-child) {
  border-top: 1px solid #ededed;
}
a.tel-phone:link,
a.tel-phone:visited,
a.tel-phone:hover,
a.tel-phone:active {
  display: inline-block;
  margin-right: 0.5rem;
  float: right;
  color: #717171;
  text-decoration: none;
}
.map > img {
  width: 100%;
}
.floater {
  display: flex;
  justify-content: center;
  align-items: center;
}
.err-des {
  margin-top: 20%;
  color: #464646;
  font-size: 0.4rem;
  line-height: 0.7rem;
}
.err-des > h1 {
  text-align: center;
}
.agreement-page {
  padding: 0 0.5rem;
}
.agreement-page h1 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: .5rem;
  margin-bottom: 0.5rem;
}
.agreement-page section {
  font-size: 0.3rem;
  line-height: 185%;
  margin-bottom: 0.5rem;
}
.agreement-page br {
  margin-bottom: 3rem;
}
.agreement-page h2 {
  padding: 0.3rem 0;
  font-size: 0.4rem;
}
.agreement-page ul {
  padding-left: 2em;
}
.agreement-page ul li {
  margin: 0;
  padding: 0;
}
.JobSearchWapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.32rem /* 24/37.5 */;
}
.JobSearchWapper > .title {
  height: 1rem ;
  width: 100%;
  line-height: 1rem;
  color: #fff;
  font-size: 0.426667rem /* 16/37.5 */ /* 18/37.5 */;
  background-color: #f00;
  text-align: center;
  position: fixed;
  top: 0rem;
}
.JobSearchWapper .header {
  width: 100%;
  height: 1rem /* 75/37.5 */;
  background-color: #e6e6e6;
  position: fixed;
  display: flex;
  flex-direction: row;
}
.JobSearchWapper .header .area {
  text-align: center;
  height: 1rem /* 75/37.5 */;
  font-size: 0.37rem /* 28/37.5 */;
  line-height: 1rem;
  flex-grow: 1;
  padding-left: 0.13rem;
  overflow: hidden;
}
.JobSearchWapper .header .area .icon {
  height: .266667rem;
  width: .266667rem;
  padding-right: 0.13rem /* 10/37.5 */;
  line-height: .266667rem;
  text-align: center;
  float: right;
  margin-top: 0.35rem;
}
.JobSearchWapper .header .search_content {
  position: relative;
  height: 1rem;
  width: 85%;
}
.JobSearchWapper .header .search_content .search_input {
  background: none;
  outline: none;
  border: 0px;
  padding-left: 0.666667rem /* 25/37.5 */;
  width: 85%;
  line-height: 0.746667rem /* 28/37.5 */;
  font-size: 0.32rem /* 12/37.5 */;
  box-sizing: border-box;
  height: 0.746667rem /* 28/37.5 */;
  float: left;
  color: #aab2bd;
  background-color: #fff;
  border-radius: 0.133333rem /* 5/37.5 */;
  margin-top: 0.12rem /* 4.5/37.5 */;
}
.JobSearchWapper .header .search_content .icon-search {
  position: absolute;
  top: 50%;
  margin-top: -0.373333rem /* 14/37.5 */;
  width: 0.746667rem /* 28/37.5 */;
  height: 0.746667rem /* 30/37.5 */;
  line-height: .746667rem;
  text-align: center;
}
.JobSearchWapper .header .search_content .search {
  line-height: 1rem;
  text-align: center;
}
.JobSearchWapper .content {
  margin-top: 1rem;
}
.retireWapper {
  width: 100%;
}
.retireWapper .retireList {
  background-color: #e6e6e6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.32rem /* 12/37.5 */;
}
.retireWapper .retireList .retireItem {
  background-color: #fff;
  width: 9.2rem /* 345/37.5 */;
  padding: 0.4rem /* 15/37.5 */;
  margin-bottom: 0.133333rem /* 5/37.5 */;
}
.retireWapper .retireList .retireItem .title {
  height: 0.533333rem /* 20/37.5 */;
  line-height: 0.533333rem /* 20/37.5 */;
}
.retireWapper .retireList .retireItem .title .name {
  max-width: 70%;
  font-size: 0.373333rem /* 14/37.5 */;
  float: left;
}
.retireWapper .retireList .retireItem .title .label {
  float: left;
  width: 1.253333rem /* 47/37.5 */ /* 94/37.5 */;
  height: 0.5rem /* 38/37.5 */;
  border: 1px solid #d92121;
  line-height: 0.533333rem /* 20/37.5 */;
  text-align: center;
  border-radius: 0.266667rem /* 10/37.5 */;
  margin-left: 0.4rem /* 15/37.5 */;
}
.retireWapper .retireList .retireItem .title .price {
  float: right;
  font-size: 0.293333rem /* 11/37.5 */;
}
.retireWapper .retireList .retireItem .title .price .number {
  font-size: 0.4rem /* 15/37.5 */;
  color: #464646;
}
.retireWapper .retireList .retireItem .compony {
  margin-top: 5px;
  height: 0.8rem /* 30/37.5 */;
  line-height: 0.8rem /* 30/37.5 */;
  font-size: 0.32rem /* 12/37.5 */ /* 24/37.5 */;
  color: #717171;
}
.retireWapper .retireList .retireItem .tiplist {
  height: 0.56rem /* 21/37.5 */;
  text-align: center;
}
.retireWapper .retireList .retireItem .tiplist .tip {
  margin-top: 5px;
  float: left;
  height: 0.56rem /* 21/37.5 */;
  line-height: 0.56rem /* 21/37.5 */;
  padding: 0 10px;
  background-color: #f8f8fa;
  color: #b3b3b3;
  margin-right: 10px;
  border-radius: 3px;
}
.page-long-video {
  width: 100vw;
}
.page-long-video .video-container {
  width: 100vw;
}
.page-long-video .video-container video {
  width: 100vw;
}
